#formulario{
    background-color: #A00505 !important;
    top: 30% !important;
    align-self: center;
    height: 500px;
    width: 500px;
    border-radius: 2pc;
}

#forms{
    text-align: center;
    
}

#inicio{
    background-color: #A42C2C;
    width: 200px;
    border-radius: 2pc;
}

#inicio h3{
    color: white;
}

.boton{
    background-color: #430505;
    width: 150px;
    border-radius: 2pc;
}

.boton a{
    color: white !important;
}