.titulo{
    background-color: #A00505;
    border-radius: 2pc;
}

.titulo h1{
    color: white;
    text-align: center;
}

select{
    background-color: rgb(232, 228, 228) !important;
    border-radius: 2pc !important;
}

.formulario{
    background-color: rgb(190, 184, 184);
    height: 300px;
    border-radius: 2pc;
}