body {
  font-family: 'Raleway';
}

.subject-section {
  text-align: center;
  padding: 60px 0;
  max-width: 800px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 85% !important;
}

.subject-section h1 {
  font-family: 'Raleway';
  width: auto;
  padding: 10px;
  margin: 0px;
}

@media (max-width: 500px) {
  #ing {
    width: 48px;
  }
}

.logo {
  height: 60px;
  margin: 0px 9px;
  display: inline-block;
}

@media (max-width: 500px) {
  .logo {
    height: 50px !important;
    width: 44px !important;
  }
}

#navbar-complete {
  background-color: #CD171E !important;
}

@media (max-width: 420px) {
  #navbar-complete {
    padding: 0.1px !important;
  }
}

.nav-link {
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 770px) {
  .nav-link {
    width: 60%;
  }
}

.nav-link:focus, .nav-link:hover {
  color: #cd171e !important;
  background-color: #FAF8FB !important;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

#logout {
  background-color: #930101;
  /*color: #cd171e !important;*/
}

#logout:hover {
  background-color: #dddddd !important;
  color: black !important;
}

#navbar-complete {
  padding: 1px;
}

.subject-section-p {
  padding: 15px;
}

@media (max-width: 860px) {
  .subject-section {
    width: 90%;
  }
}

.subject-section-icon {
  cursor: pointer !important;
}

#logout {
}

.nav-item {
  margin: 0px 1px;
}

@media (max-width: 991.5px) {
  #nav-container {
    width: 85%;
  }
}

@media (min-width: 898px) {
  .navbar-toggleable-md .navbar-collapse {
    display: flex !important;
    width: 100%;
  }
}

@media (min-width: 898px) {
  .collapse {
    display: none;
  }
}

@media (max-width: 410px) {
  #brand {
    margin-top: 5px;
    font-size: 30px !important;
  }
}

#brand {
  margin-left: 10px;
}

@media (max-width: 400px) {
  .logo {
    height: 35px !important;
    width: 33px !important;
    /*margin: 7px;*/
  }
}

@media (max-width: 360px) {
  .logo {
    height: 30px !important;
    width: 27px !important;
    /*margin: 7px;*/
  }
}

@media (max-width: 425px) {
  .navbar-brand {
    font-size: 30px !important;
  }
}

@media (max-width: 400px) {
  #ing {
    margin-right: 25px !important;
  }
}

@media (max-width: 360px) {
  #ing {
    margin-right: 20px !important;
  }
}

.subject-section h1 {
  padding: 3px !important;
  text-align: center;
}

@media (max-width: 400px) {
  .navbar-brand {
    font-size: 25px !important;
  }
}

@media (max-width: 315px) {
  .logo {
    display: none;
  }
}

#ing {
  width: 52px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
}

#last-p {
  color: rgb(250,248,251) !important;
}

#login-p {
  text-align: justify;
}

@media (max-width: 600px) {
  #login-p {
    padding: 0px 50px !important;
  }
}

@media (max-width: 992px) {
    .nav-link {
        width: 100%;
        padding: 15px;
        margin: 3px;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.clear { clear: both; height: 150px; }

@media (max-width: 991.5px) {
    #titulo-silab {
        display: none;
    }
}

